
.charactersContainer {
  padding: 1rem;
}

.charactersTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.charactersGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: flex-start;
}
